	<!-- /#wrapper -->

	<!--modal content
	<div id="login-modal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
						
				</div>
			</div>
		</div>
	</div>
	
	end of login-modal-->



	<!-- Page Content -->
</body>

</html>