<% include partials/header%>
<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<div class="container">
					<div class="left" style=text-align:0px; style=width:60%;>
						<h1>
							<a href="home.ejs">
								Shelter Map	
							</a>
						</h1>
					</div>

					<!--modal window
							<a data-scroll class="btn btn-start" data-toggle="modal" data-target="#login-modal" href="#">
							Login
						</a>
					-->

				</div>
			</li>
		</ul>
	</div>
</div>
<style>
body{
	background:#9bbff4;
	margin:0}
h1{
	margin: 0	
	padding-bottom:10px;
	width:180px;
	color:#000000;
	border-bottom:3px solid #000000}
h2 {
	font-size: 16px;
	color: black;
	font-family: 'Montserrat',sans-serif;
	padding: 0px;
	margin: 0px;
	margin-bottom: 15px;
	margin-top: 5px;
	
}
.form{
	width:400px;
	height:250px;
	margin-left: 350px;
	background:#e6e6e6;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(50vh - 220px) auto;
	padding:20px 30px;
	max-width:calc(100vw - 40px);
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	position:relative}
input{
	width:100%;
	padding:10px;
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Montserrat',sans-serif;
	transition:all .3s;
	border-bottom:2px solid #666666}
	
input:focus{
	border-bottom:2px solid #000000}
p:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#5a5a5a}
button{
	float:right;	
	margin-top: 10px;
	padding:8px 12px;
	margin:8px 0 0;
	font-family:'Montserrat',sans-serif;
	border:2px solid black;
	background:0;
	color:#666666;
	cursor:pointer;
	transition:all .3s}
button:hover{
	background:#000000;
	color:#fff}
</style>

<div class="form">
	<h2>Shelter Affliates Login</h2>
	<form action="/register" method="post">
		<input type="text" name ="username" placeholder="Username">
		<input type="password" name ="password" placeholder="Password">
		<select name="shelter">
				<%shelters.forEach(function(shelter) { %>
					<option value="<%=shelter.name%>"><%=shelter.name%></option>
				<%})%>
		</select>
		<button type="submit">Register</button>
	</form>
</div>

<% include partials/footer%>